$gray: #f6f6f8;
$primary: #f55d22;
$primaryHover: #dd4b11;
$link: #4088fc;
$black: #1a1a1a;
$br: 16px;

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
}

.out_team {
  .our_team__member {
    text-align: center;
    .otm_img {
      overflow: hidden;
      border-radius: 15px;
      margin-bottom: 15px;
      img {
        display: block;
        width: 90%;
        height: 99px;
        object-fit: contain;
      }
    }

    h3 {
      color: $primary;
      margin-bottom: 8px;
    }

    p {
      font-size: 13px;
      font-style: italic;
    }
  }
}

.item {
  background: $gray;
  border-radius: $br;
  overflow: hidden;
  box-shadow: 0px 0px 20px 2px #ccc;
  width: 260px;
  margin-top: 2rem;
  .item_header {
    a {
      display: block;
      max-height: 210px;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 220px;
        object-fit: cover;
        transition: all 0.2s;
      }
    }
  }
  .item_footer {
    padding: 15px;
    h3 {
      margin-top: 10px;
      a {
        color: $black;
      }
    }

    p {
      color: #5d5d5d;
      font-size: 14px;
    }

    .add {
      display: block;
      text-align: center;
      border-radius: $br;
      background: $primary;
      color: #fff;
      padding: 7px 14px;
      font-size: 14px;
      margin-top: 20px;
      position: relative;
      overflow: hidden;

      &:hover {
        span {
          top: 0;
        }
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 25px 7px #ccc;
    .item_header {
      a {
        img {
          transform: scale(1.2);
        }
      }
    }
    .item_footer {
      h3 {
        a {
          color: $primary;
        }
      }
    }
  }
}
