!app/cache/.gitkeep
!app/logs/.gitkeep
!bin/console
!bin/symfony_requirements
!var/cache/.gitkeep
!var/log/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
**/Entity/*~
*.csv
*.dat
*.lcov
*.log
*.out
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*bundles*
.DS_Store
.approvals
.bundle
.cache
.directory
.docusaurus
.dynamodb
.env
.env.*.local
.env.development.local
.env.local
.env.local.php
.env.production.local
.env.test.local
.eslintcache
.fusebox
.grunt
.idea
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
.pnp
.pnp.*
.pnp.js
.pnpm-debug.log*
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
.serverless
.stylelintcache
.swp
.temp
.tern-port
.torus.json
.vscode
.vscode-test
.vuepress/dist
.web-server-pid
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
Dockerfile
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
app/assets/javascripts/generated/*
app/bootstrap.php.cache
app/cache/*
app/config/parameters.ini
app/config/parameters.yml
app/logs/*
app/phpunit.xml
app/spool/*
bin/*
bower_components
build
build/Release
composer.phar
config/application.yml
config/jwt/*.pem
config/master.key
config/secrets/prod/prod.decrypt.private.php
coverage
dist
docker-compose.yml
docs/.sass-cache
docs/_site
jspm_packages
latest.dump
lerna-debug.log*
lib-cov
log/*
log/*.log
logs
node_modules
npm-debug.log*
out
phpunit.xml
pids
pkg
play.js
public*
public/bundles
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
tags
tmp
var
var/bootstrap.php.cache
var/cache/*
var/log/*
var/logs/*
var/sessions/*
vendor
web/bundles
web/uploads
web_modules
yarn-debug.log*
yarn-error.log*