$enable-smooth-scroll: false;
$enable-transitions: false;
$enable-shadows: false;
$enable-rounded: false;
$enable-caret: false;
$enable-button-pointers: false;

@import "../node_modules/bootstrap/scss/bootstrap";
